.wrapper{
    position: relative;
    margin-bottom: 2rem;
    height: 90vh;
}


.projectPage_container{
    width: 100%;
    height: 10vh;
    position: relative;
}

.project_container{
    width: 100%;
    padding-bottom: 5rem; 
}

.project_details{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 90vh;
    text-align: center;
}

.active_overlay{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90vh;
    text-align: center;
}

.not_active{
    background: url('../ProjectImage/functional\ calculator.png');
filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;  
    height: 90vh;
}

.active{
    background: url('../ProjectImage/functional\ calculator.png');

    background-repeat: no-repeat;
    background-size: cover;  
    height: 90vh;
}

.content{
    position: absolute;
    top: 8rem;
    left: 7rem;
    text-align: center;
    width: 80%; 
}

.content_text{
    /* background: blue; */
}

/* .project-image{
    background: #1a1919;
    padding: 1.2rem 1rem;
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
} */

.project-image img{
   
   
}


.project-title{
    color: #098ce4;
    font-size: 2.5rem;
}



.content_text p{
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.pro-btns{
    display: flex;
    justify-self: space-between;
    padding: 0.5rem 0;
    /* background: grey; */
    gap: 1rem;
    width: 25%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    margin-left: 40%;
    
}

.pro-btns .btn{
    padding: 1rem 1rem;
    width: 15rem;
}

.wrk_btn{
    padding: 0.5rem 2rem;
}
@media screen and (max-width: 740px) {
    .project_container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}