.wrapper{
    position: relative;
    margin-bottom: 2rem;
    height: 90vh;
}


.projectPage_container{
    width: 100%;
    height: 10vh;
    position: relative;
}

.project_container{
    width: 100%;
    padding-bottom: 5rem; 
    height: 90vh;
}

.project_details{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 90vh;
    text-align: center;
}

.active_overlay{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90vh;
    text-align: center;
}

.notOnHover{
    background: url('../ProjectImage/functional\ calculator.png');
filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;  
    height: 90vh;
}

.onHover{
    background: url('../ProjectImage/functional\ calculator.png');

    background-repeat: no-repeat;
    background-size: cover;  
    height: 90vh;
}

.content{
    position: absolute;
    top: 8rem;
    left: 7rem;
    text-align: center;
    width: 80%; 
}

.content_text{
    /* background: blue; */
}

/* .project-image{
    background: #1a1919;
    padding: 1.2rem 1rem;
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
} */

.project-image img{
   
   
}


.project-title{
    color: #098ce4;
    font-size: 2.5rem;
}



.content_text p{
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
}


.btn{
    
}

.pro-btns{
    display: flex;
    justify-self: space-between;
    padding: 0.5rem 0;
    /* background: grey; */
    gap: 1rem;
    width: 25%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    margin-left: 40%;   
}

.pro-btns .btn{
    padding: 1rem 1rem;
    width: 15rem;
}

.wrk_btn{
    padding: 0.5rem 2rem;
}
@media (min-width: 320px) and (max-width: 480px) {

    /* notOnHover section */

    .wrapper{
        position: relative;
        width: 100%;
        height: 70vh;
    }
    .content-divv{
        width: 100%; 
        height: 70vh; 
    }

    .content_text{
        
        width: 13rem;
        
    }

    .project-title{
        color: #098ce4;
        font-size: 1rem;
    }

    .project-title + p{
        font-size: 0.8rem;
    }

    .projectPage_container{
        width: 100%;
        height: 90vh;
        position: relative;
        top: 0;
        
    }

    .project_details{
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 69vh;
        text-align: center;
    }

    .notOnHover{
        background: url('../ProjectImage/functional\ calculator.png');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position-x: 50%; 
        height: 75%; 
        /* display: none; */
    }

    .content{
        top: 1;
        left: 2rem;
    }

  

   .pro-btns .btn{
    padding: 0.4rem 0.4rem;
    margin-top: 0;
    font-size: 0.4rem;
    text-align: center;
}

    .pro-btns{
        width: 30rem;
        height: 2rem;
        padding: 0.2rem 0;
        /* background: grey; */
        gap: 1rem;
        width: 50vw;
        position: absolute;
        bottom: 0;
        right: 20%;
        margin-bottom: 2rem;
        margin-left: 40%;   
    }

     /* onHover section */

     .onHover{
        background: url('../ProjectImage/functional\ calculator.png');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position-x: 50%; 
        height: 75%; 
     }

     .active_overlay{
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 69vh;
        text-align: center;
    }
}