.btn {
    text-transform: uppercase;
    font-size: 0.7rem;    
    padding: 12px 32px;
    width: 12rem;
    background: rgb(231, 61, 61);
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.6rem;
    margin: auto;
}

