.initiialIntro{
    margin-bottom: 3rem;
}

.initiialIntro p{
    margin: 6rem auto ;
    color:  black ;
}




@media (min-width:320px) and (max-width:480px){

    .initiialIntro{
        text-align: center;
        margin-left: ;
        
        width:90%;
    }
    
    .initiialIntro p{
        margin: 3.5rem auto ;
        color:  black ;
        font-size: 0.4rem;
        font-weight: lighter;
    }
}