.initiialIntro{
    margin-bottom: 3rem;
}

.initiialIntro_mobile{
    display: none;
}

.initiialIntro p{
    margin: 6rem auto ;
    color:  black ;
}




@media (min-width:320px) and (max-width:480px){

    .initiialIntro{
        
        display: none;
    }

    .initiialIntro_mobile{
        display: block;
         text-align: center;
         
         margin-top: 3rem;
        
        width:90%; 
    }
    
    .initiialIntro p{
        margin: 3.5rem auto ;
        color:  black ;
        
        font-size: "1.3rem";
        font-weight: lighter;
    }

}