.abtMe-div{
    border: 1px solid black;
    height: 22rem;
    width: 100%;
    background: white;
    text-align: center;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px rgba(131, 109, 109, 0.1);
    color: black;
   }

.abtMe_section{
    
    
}




@media (min-width: 320px) and (max-width: 480px) {
    .abtMe_section{
        /* width: 100%; */
    }


    .abtMe-div{
        border: 1px solid black;
        height: 28rem;
        width: 90%;
        margin: 1rem auto;
        background: #f0ecec;
        text-align: center;
        padding: 3rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
       }
}