@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header section */
.headerSection{
    display: flex;
    flex-direction: row;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    color: #22253e;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    
    
    
}

.logo{
    font-size: 2.5rem;
    margin-left: 1rem;
    font-family: 'Work Sans', sans-serif;
    
}

.navLinks{
    display: flex;
    margin-right: 1rem;
    gap: 3rem;
    list-style: none;
    font-size: 1.3rem;
}


/* // Home Page Section */
.Home{
    height: 100vh;
    background: white;
    color: black;
}

.HomePage{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    margin-top: 10rem;
    padding: 0;
    
   
    /* background: rgb(194, 166, 166); */
    
    
}

.home__display{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.intro{
    
    
    /* border: 1px solid green; */
}

.intro h1{
    font-size: x-large;
}

.my_image{
    /* border: 1px solid blue; */
    
    
    
}

.my_image img{
    border-radius: 20%;
    width: 20rem;
   
    
}

Button{
    padding: 1rem;
    border-radius: 0.7rem;
    
    
}