@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Header section */
.headerSection{
    display: flex;
    flex-direction: row;
    background: #263238  ;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
    
    color: whitesmoke;
    /* align-items: center;*/
    justify-content: space-between; 
    height: 5rem;
    
    
    
}

.logo{
    font-size: 2rem;
   
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.navLinks{
    display: flex;
    margin-right: 1rem;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.3rem;
}

.hamburger{
    display: none;
}


/* // Home Page Section */
.Home{
    height: 100vh;
    background: white;
    color: black;  
}

.HomePageWrapper{
    border: 1px solid red;
    margin-top:5rem;
    margin-left:2rem;
    position: relative;
    margin-right: 2rem;

}

.socialMediaIcons{
    position: absolute;
    bottom: 0;
    
}

.HomePage{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    margin-top: 10rem;
    padding: 0;
    position: relative;
    
   
    /* background: rgb(194, 166, 166); */
    
    
}

.home__display{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position:relative;
    gap: 1rem;
    border: 1px solid red; 
              
    
}

.intro{
    
    
    border: 1px solid green;
}

.intro h1{
    font-size: x-large;
}

.my_image{
    /* border: 1px solid blue;    */
}

.offerImage{
    padding: 2rem;
    
}

.offer1Content{
    
    background: white;
    color: black;
    border:1px solid black;
    position:absolute;
    width: 25rem;
    margin-top: 1.5rem;
    margin-left:1.5rem;
    height: 90vh;
}

.offerdiv1{
    border:1px solid black;
    background: #26a69a;
    height:90vh;
    display: flex;
    position:relative;                  
    
    
}

.my_image img{
    border-radius: 20%;
    width: 20rem;
   
    
}



/* button styling */
.button{
      
    position: absolute;
    bottom: 0;
}

.button Button{
    padding: 1rem;
    border-radius: 0.7rem;
}

.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn-light {
    background: transparent;
    color: #fff;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}


.LeftSec{
    display: flex;
    flex-direction: row;
    align-items: center;
    border:1px solid red;
    margin-left: 2rem;
    justify-content: space-between;
}


.RightSect{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    margin-right: 2rem;
    gap: 1rem;
}

.AboutMe{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 30rem;        
}

.what_offer1{
    width: 80%;
    /* border: 1px solid red;   */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.graphics{
   
    border: 1px solid yellowgreen;
    width:20rem;
    
}

.graphics img{
    width: 20rem;
}

.content{
    border: 1px solid blue;
    width: 35rem;
   
}

.Offer{
    /* background: #263238; */
    color: white;
    display: flex;
    flex-direction: row;
}



.offerdiv2{
  
    background: white;
    height:90vh;
    border:1px solid black;
    /* 
    
    color:black;
    
    
    margin-left:2rem;   
    margin-right:6rem;
    margin-top: 2rem;       
     width: 20%;
    right: 2rem;  */
}

.objectSec{
    background:#26a69a;
    margin-top: 0;
    height: 8rem;
}



@media screen and (max-width: 1040px) {
    .navLinks{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
    }

    .navLinks li{
        padding: 1rem 0;
    }

    .navLinks li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
    }
    
}