@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}



a{
    color: white;
}








/* button styling */
.button{
     bottom: 1rem; 
     height: 2.3rem;  
     display: flex;
     flex-direction: row;
     gap: 0.2rem;
     width: 30%;
     margin: -1rem auto;
     
   
}

.button Link{
    
}

.btn {
    text-transform: uppercase;
    font-size: 0.7rem;    
    padding: 12px 32px;
    width: 12rem;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.6rem;
    margin: auto;
}

.btn-light {
    background: rgb(231, 61, 61);
    color: #fff;
}



.btn:hover{
    background: black;
    color: #fff;
    transition: 0.3s;
}


.LeftSec{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    margin-left: 2rem;
    justify-content: space-between;
}


.RightSect{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-right: 2rem;
    gap: 1rem;
}

/* .AboutMe{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 30rem;        
} */



.graphics{
   
    border: 1px solid yellowgreen;
    width:20rem;
    
}

.graphics img{
    width: 20rem;
}

.content{
    border: 1px solid blue;
    width: 35rem;
   
}


                           /* HomePage (About Me Section) */
.Abtme_homesection{
    text-align: center;
    margin-top: 10vh;
}

.Abtme_homesection_heading{
    margin-bottom: 2rem;
}

.abtMe_card{
    display: flex;
    justify-content: space-around;
    
}




.card1{
    
}

.card2{
    
}

.card3{
    
    
}

.cvButton{
    width: 8rem;
    margin: 1rem auto;
    
    
}

.cvButton .cvbtn{
    margin: auto;
    

}

.objectSec{
    background:#79b7e0;
    margin-top: 0;
    height: 8rem;
}


.footer{
    width: 100%;
    
    background: #419cda;
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left-footer{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction:column;
    padding: 1rem;
}

.location{
    display: flex;
    margin-bottom: 0.8rem;
}

.location p{
    line-height: 30px;
}

.right-footer{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction:column;
    padding: 1rem;
}

.social{
    margin-top: 1rem;
}

h4{
    font-size: 1.3rem;
    padding-bottom: 0.7rem;
}

p{
    font-size: 1.2rem;
}


/* Mobile*/

@media (min-width: 320px) and (max-width: 480px){

    html{
        width: 100%;
    }

    body{
        width: 100%;
        background: ;
    }

    .logo{
        font-size: 1rem;
    }

    .LeftSec{
        margin-left: 1.4rem;
    }

    .RightSect{
        margin-right: 1.4rem;
    }

   

    .navLinks{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .navLinks.active{
        left: 0;
    }

    .navLinks li{
        padding: 1rem 0;
    }

    .navLinks li a{
        font-size: 2rem;
    }

    

   /* Aboutme section(Home page) */
   
   
   
   

   

   

   

   
   


    .footer-container{
        grid-template-columns: 1fr;
        
    }

    .signup_page_content{
        display: none;
    }
}


/* Ipad,Tablets*/

@media (min-width: 481px) and (max-width: 768px){

    body{
        
    }
    .navLinks{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .navLinks.active{
        left: 0;
    }

    .navLinks li{
        padding: 1rem 0;
    }

    .navLinks li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
    }

    .home__display{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between; 
        align-items: center;
        position:relative;
        gap: 1rem;
        border: 1px solid red; 
            
    }

    .HomePage{
        border: 1px solid red;
        width: 80%;
        height: 100vh;
        margin: auto;
        padding: 0;
        position: relative;
        /* background: rgb(194, 166, 166); */
    }

    .my_image img{
        border-radius: 50%;
        width: 15rem;
        height: 15rem;  
    }

    .intro h1{
        font-size: 1.8rem;
        padding: 0.6rem 0 1.5rem;
        text-align: center;
    }
    
    .intro p{
        font-size: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        
    }
    .button{
        bottom: 5.3rem;
        left: 5rem;   
        display: flex;
        gap: 0.4rem;
        border: 1px solid red;

    }


    .footer-container{
        grid-template-columns: 1fr;
        
    }

}


/* Small Screens & Laptops*/

@media (min-width: 769px) and (max-width: 1024px){
    
}


/* Desktop & Large Screens*/

@media (min-width: 1025px) and (max-width: 1200px){
    
}

