@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}

body{
    background: url('./Images/smearing-bright-blue-paint.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position-x: -120%;
    background-repeat: no-repeat;
}

a{
    color: white;
}

/* Header section */
.headerSection{
    display: flex;
    flex-direction: row;
    background: #263238  ;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    /* align-items: center;*/
    justify-content: space-between; 
    height: 5rem;
    z-index: 1; 
}

.headerSection-scroll{
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s;
}

.logo{
    font-size: 2rem;
   
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.navLinks{
    display: flex;
    margin-right: 1rem;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.3rem;
}

.navLinks li{
    padding: 0 1rem;
}


.navLinks li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.hamburger{
    display: none;
}


/* // Home Page Section */
.Home{
    height: 100vh;
    background: white;
    color: black;  
    background: url('./Images/smearing-bright-blue-paint.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position-x: -130%;
    background-repeat: no-repeat;
}

.HomePageWrapper{
    border: 1px solid red;
    margin-top:5rem;
    margin-left:2rem;
    position: relative;
    margin-right: 2rem;
    height: 100vh;
    
    

}

.socialMediaIcons{
    position: absolute;
    bottom: 6rem;
    right: 0;
    
}

.socialMediaIcons p {
    margin-bottom: 2rem;
}

.HomePage{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    margin-top: 10rem;
    padding: 0;
    position: relative;
    
   
    /* background: rgb(194, 166, 166); */
}

.home__display{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position:relative;
    gap: 1rem;
    border: 1px solid red; 
    
              
    
}

.intro{
    border: 1px solid green;
    
}

.intro h1{
    font-size: 2.5rem;
    padding: 0.6rem 0 1.5rem;
}

.intro p{
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    
}

.my_image{
    /* border: 1px solid blue;    */
}

.offerImage{
    padding: 2rem;
    
    
}

.offer1Content{
    
    background: white;
    color: black;
    border:1px solid black;
    position:absolute;
    width: 25rem;
    margin-top: 1.5rem;
    margin-left:1.5rem;
    height: 90vh;
}

.offerdiv1{
    border:1px solid black;
    background: #26a69a;
    height:90vh;
    display: flex;
    position:relative;                  
    
    
}

.my_image img{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;  
   
}



/* button styling */
.button{
     bottom: 1rem; 
     height: 2.3rem;  
     display: flex;
     flex-direction: row;
     gap: 0.2rem;
     width: 30%;
     margin-top: 2rem;
   
}

.button Link{
    
}


.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn-light {
    background: black;
    color: #fff;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}


.LeftSec{
    display: flex;
    flex-direction: row;
    align-items: center;
    border:1px solid red;
    margin-left: 2rem;
    justify-content: space-between;
}


.RightSect{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    margin-right: 2rem;
    gap: 1rem;
}

.AboutMe{
    border: 1px solid red;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 30rem;        
}

.what_offer1{
    width: 80%;
    /* border: 1px solid red;   */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.graphics{
   
    border: 1px solid yellowgreen;
    width:20rem;
    
}

.graphics img{
    width: 20rem;
}

.content{
    border: 1px solid blue;
    width: 35rem;
   
}

.Offer{
    /* background: #263238; */
    color: white;
    display: flex;
    flex-direction: row;
}



.offerdiv2{
  
    background: white;
    height:90vh;
    border:1px solid black;
    /* 
    
    color:black;
    
    
    margin-left:2rem;   
    margin-right:6rem;
    margin-top: 2rem;       
     width: 20%;
    right: 2rem;  */
}

.objectSec{
    background:#26a69a;
    margin-top: 0;
    height: 8rem;
}


.footer{
    width: 100%;
    padding: 6rem 0;
    background: rgba(19, 19, 19, 0.8);
}

.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left-footer{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction:column;
    padding: 1rem;
}

.location{
    display: flex;
    margin-bottom: 0.8rem;
}

.location p{
    line-height: 30px;
}

.right-footer{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction:column;
    padding: 1rem;
}

.social{
    margin-top: 1rem;
}

h4{
    font-size: 1.3rem;
    padding-bottom: 0.7rem;
}

p{
    font-size: 1.2rem;
}



@media (min-width: 0) and (max-width: 640px) {
    .navLinks{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .navLinks.active{
        left: 0;
    }

    .navLinks li{
        padding: 1rem 0;
    }

    .navLinks li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
    }

    .home__display{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between; 
        align-items: center;
        position:relative;
        gap: 1rem;
        border: 1px solid red; 
            
    }

    .HomePage{
        border: 1px solid red;
        width: 80%;
        height: 100vh;
        margin: auto;
        padding: 0;
        position: relative;
        /* background: rgb(194, 166, 166); */
    }

    .my_image img{
        border-radius: 50%;
        width: 15rem;
        height: 15rem;  
    }

    .intro h1{
        font-size: 1.8rem;
        padding: 0.6rem 0 1.5rem;
        text-align: center;
    }
    
    .intro p{
        font-size: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        
    }
    .button{
        bottom: 5.3rem;
        left: 5rem;   
        display: flex;
        gap: 0.4rem;
        border: 1px solid red;

    }


    .footer-container{
        grid-template-columns: 1fr;
        
    }

   
   
}